<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Greetings <%=@lead.full_name %> </h1>
    <p>
      We thank you for contacting Rocket Elevators to discuss the opportunity to contribute to your project <%=@lead.project_name %>.

      <br>

      A representative from our team will be in touch with you very soon. We look forward to demonstrate the value of our solutions and help you choose the appropriate product given your requirements.

      <br>
    
    </p>
    <p>
       We’ll Talk soon 
    </p>
    <p>The Rocket Team!</p>
    <img  src="https://rocketelevatorslp.com/assets/images/R2.png">
  </body>
</html>