<head>
		<meta charset="utf-8" />
		<title>Rocket Elevator</title>
		<meta name="description" content="" />
		<meta name="Author" content="Dorin Grigoras [www.stepofweb.com]" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

		<!-- WEB FONTS : use %7C instead of | (pipe) -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />

		<!-- CORE CSS -->
		<link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

		<!-- REVOLUTION SLIDER -->
		<link href="assets/plugins/slider.revolution/css/extralayers.css" rel="stylesheet" type="text/css" />
		<link href="assets/plugins/slider.revolution/css/settings.css" rel="stylesheet" type="text/css" />

		<!-- THEME CSS -->
		<link href="assets/css/essentials.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/layout.css" rel="stylesheet" type="text/css" />

		<!-- PAGE LEVEL SCRIPTS -->
		<link href="assets/css/header-1.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/color_scheme/blue.css" rel="stylesheet" type="text/css" id="color_scheme" />

		<!--TO A NEW CSS-->
		<link href="assets\css\misaCSS.css" rel="stylesheet" type="text/css" />
		
		<!-- FOR FAVICON -->
		<link rel="icon" type="image/png" sizes="16x16" href="assets/images/_smarty/RocketElevatorImage/faviconRocket.png">
	</head>



			<!-- REVOLUTION SLIDER -->
			<div class="slider fullwidthbanner-container roundedcorners">
				<!--
					Navigation Styles:
					
						data-navigationStyle="" theme default navigation
						
						data-navigationStyle="preview1"
						data-navigationStyle="preview2"
						data-navigationStyle="preview3"
						data-navigationStyle="preview4"
						
					Bottom Shadows
						data-shadow="1"
						data-shadow="2"
						data-shadow="3"
						
					Slider Height (do not use on fullscreen mode)
						data-height="300"
						data-height="350"
						data-height="400"
						data-height="450"
						data-height="500"
						data-height="550"
						data-height="600"
						data-height="650"
						data-height="700"
						data-height="750"
						data-height="800"
				-->
				<div class="fullwidthbanner" data-height="600" data-shadow="0" data-navigationStyle="preview2">
					<ul class="hide">
						
						<!--SLIDE 1-->
						<li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" data-title="Elevators">
								<!-- MAIN IMAGE -->
								<img src="assets/images/_smarty/RocketElevatorImage/AdobeStock_66781279.jpeg" alt="cover image"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
	
								<div class="overlay dark-0"><!-- dark overlay [0 to 9 opacity] --></div>
		
								<div class="tp-caption font-roboto skewfromleft tp-resizeme" id= "forMobile" onclick="resize()"
									data-x="550"
									data-y="150" 
									data-speed="500"
									data-start="1500"
									data-easing="Cubic.easeOut"
									data-splitin="none"
									data-splitout="none"
									data-elementdelay="0.1"
									data-endelementdelay="0.1"
									data-endspeed="500"
									style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
										ELEVATE SAFETY<br />
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SPEED AND STYLE
								</div>
		
								<!--<div class="tp-caption skewfromrightshort tp-resizeme"
									data-x="50"
									data-y="300" 
									data-speed="500"
									data-start="1000"
									data-easing="easeInCirc"
									data-splitin="none"
									data-splitout="none"
									data-elementdelay="0.1"
									data-endelementdelay="0.1"
									data-endspeed="500"
									style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
										If you dream of designing a new home that takes full advantage, <br />
										our team is the best in this field.
								</div>-->
							<div class="tp-caption tp-fade"
								data-x="130"
								data-y="120" 
								data-speed="300"
								data-start="800"
								data-easing="Power3.easeInOut"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="300"
								style="z-index: 4;">
									<img src="assets/images/_smarty/RocketElevatorImage/man 3.png" alt="" style="width: 400px">
							</div>
		
								<div class="tp-caption sfb tp-resizeme"
									data-x="690"
									data-y="350" 
									data-speed="500"
									data-start="1500"
									data-easing="Power3.easeIn"
									data-splitin="none"
									data-splitout="none"
									data-elementdelay="1"
									data-endelementdelay="0.1"
									data-endspeed="500"
									style="z-index: 4; max-width: auto;">
										<a class="btn btn-blue btn-lg" href="/#services">OUR SERVICES &nbsp; <i class="fa fa-angle-right"></i></a>
								</div>
	
								<div class="tp-caption sfb tp-resizeme"
									data-x="890"
									data-y="350" 
									data-speed="500"
									data-start="1500"
									data-easing="Power3.easeInOut"
									data-splitin="none"
									data-splitout="none"
									data-elementdelay="0.1"
									data-endelementdelay="0.1"
									data-endspeed="500"
									style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">
										<a class="btn btn-default btn-lg" href="quotes/new">GET A QUOTE &nbsp; <i class="fa fa-angle-right"></i></a>
								</div>
							</li>
		

					
						<!-- SLIDE 2 -->
						<li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="600"  data-saveperformance="off"  data-title="Residential">
							<!-- MAIN IMAGE -->
							<img src="assets/images/_smarty/RocketElevatorImage/AdobeStock_130711085.jpeg"  alt="cover image"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

							<div class="tp-caption white_big skewfromleft tp-resizeme"
								data-x="471"
								data-y="100" 
								data-speed="400"
								data-start="1500"
								data-easing="Power3.easeInOut"
								data-splitin="words"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="600"
								style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
									RESIDENTIAL ELEVATOR
							</div>


							<div class="tp-caption content_text_center skewfromleft tp-resizeme"
								data-x="530"
								data-y="195" 
								data-speed="500"
								data-start="2000"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="600"

								style="z-index: 3; font-size:25px; color:#fff; font-weight:300; text-shadow:none;">
									Seeking for a cost-effective residential elevator??
							</div>

							<!--<div class="tp-caption tp-fade"
								data-x="left"
								data-y="25" 
								data-speed="300"
								data-start="800"
								data-easing="Power3.easeInOut"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="300"
								style="z-index: 4;">
									<img src="demo_files/images/thematics/construction/worker-min.png" alt="">
							</div>-->

							<div class="tp-caption skewfromleft tp-resizeme  un-button-2-lg"
								data-x="665"
								data-y="300" 
								data-speed="300"
								data-start="2500"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="300"

								style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
									<a class="btn btn-blue btn-lg" href="/quotes/new">GET YOUR QUOTE &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>
						</li>

						<!-- SLIDE 3 -->
						<li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" data-title="Commercial">
							<!-- MAIN IMAGE -->
							<img src="assets/images/_smarty/RocketElevatorImage/AdobeStock_3294993.jpeg" alt="cover image"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

							<div class="overlay dark-4"><!-- dark overlay [0 to 9 opacity] --></div>

							<div class="tp-caption font-roboto skewfromleft tp-resizeme"
								data-x="50"
								data-y="100" 
								data-speed="500"
								data-start="1500"
								data-easing="Cubic.easeOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
									Commercial Elevator
							</div>

							<div class="tp-caption skewfromrightshort tp-resizeme"
								data-x="50"
								data-y="200" 
								data-speed="500"
								data-start="1000"
								data-easing="easeInCirc"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 3; font-size:25px; color:#fff; font-weight:300; text-shadow:none;">
									Get on the top faster and smoother
							</div>

							<div class="tp-caption sfb tp-resizeme"
								data-x="100"
								data-y="270" 
								data-speed="500"
								data-start="1500"
								data-easing="Power3.easeIn"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 4; max-width: auto;">
									<a class="btn btn-blue btn-lg" href="/quotes/new">GET YOUR QUOTE &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>

						</li>

					</ul>

				</div>
			</div>
			<!-- /REVOLUTION SLIDER -->


			<hr class="m-0" /><!-- 1px line separator -->


			<!-- BUTTON CALLOUT -->
			<a href="/#contact" class="btn btn-xlg btn-primary fs-20 fullwidth m-0 rad-0 p-40">
				<span class="font-lato fs-30">
					Did we convinced you? 
					<strong>Contact us &raquo;</strong>
				</span>
			</a>
			<!-- /BUTTON CALLOUT -->


			
			<!-- Services -->
			<section id="services">
				<div class="container">

					<div class="row">
						<div class="col-sm-4">
							<a class="image-hover" href="/#portfolio" data-plugin-options='{"type":"iframe"}'>
								<span class="image-hover-icon image-hover-dark"><!-- image-hover-light | image-hover-dark -->
									
								</span>
								<img class="img-fluid" src="assets/images/_smarty/RocketElevatorImage/Bollywood-Awards.jpg" alt="img"/>
							</a>

							<h3 class="mt-10">Awards winned</h3>
							<p>Proud to be a leader in what we do, we have the honor to show you our awards resulting from our years of effort.</p>
							<a href="/#portfolio" class="btn btn-default">READ MORE</a>
						</div>

						<div class="col-sm-4">
							<a class="image-hover" href="/residential" data-plugin-options='{"type":"iframe"}'>
								<span class="image-hover-icon image-hover-dark"><!-- image-hover-light | image-hover-dark -->
								
								</span>
								<img class="img-fluid" src="assets/images/_smarty/RocketElevatorImage/AdobeStock_73868131.jpeg" alt="img" />
							</a>
							<h3 class="mt-10">Residential elevators</h3>
							<p>The residential? it iss our job. we have a team of experts to help you, we listen to all your needs. Visit our page to have a better overview of our services.</p>
							<a href="/residential" class="btn btn-default">READ MORE</a>
						</div>

						<div class="col-sm-4">
							<a class="image-hover" href="/commercial" data-plugin-options='{"type":"iframe"}'>
								<span class="image-hover-icon image-hover-dark"><!-- image-hover-light | image-hover-dark -->
								
								</span>
								<img class="img-fluid" src="assets/images/_smarty/RocketElevatorImage/AdobeStock_146216308.jpeg" alt="img" href="/commercial"/>
							</a>	
							<h3 class="mt-10">Commercial elevators</h3>
							<p>a corporate and / or commercial building necessarily needs elevator. Visit our services, we do what you need.</p>
							<a href="/commercial" class="btn btn-default">READ MORE</a>
						</div>

					</div>

				</div>
			</section>
			<!-- /Services -->

			


			<!-- Parallax -->
			<section class="parallax parallax-1" style="background-image: url('assets/images/_smarty/RocketElevatorImage/AdobeStock_3294993.jpeg');">
				<div class="overlay dark-5"><!-- dark overlay [1 to 9 opacity] --></div>

				<div class="container">

					<div class="text-center">
						<h2 class="fs-40 fw-300">Contractor &amp; Construction Since 1976</h2>
						<a class="btn btn-default btn-lg" href="/quotes/new">GET A QUOTE <i class="fa fa-angle-right"></i></a> 
						&nbsp; OR &nbsp; 
						<a class="btn btn-blue btn-lg" href="/#services">OUR SERVICES <i class="fa fa-angle-right"></i></a>
					</div>

				</div>
			</section>
			<!-- /Parallax -->




			<!-- PORTFOLIO -->
			<section id="work">
				<div class="container">

					<div class="heading-title heading-dotted text-center">
						<h2>Featured Work</h2>
					</div>

					<div class="text-center">
						<ul class="nav nav-pills mix-filter mb-60">
							<li data-filter="all" class="filter active"><a href="#">All</a></li>
							<li data-filter="award" class="filter"><a href="#">Awards</a></li>
							<li data-filter="residential" class="filter"><a href="#">Residential</a></li>
							<li data-filter="commercial" class="filter"><a href="#">Commercial</a></li>
						</ul>
					</div>

				</div>

				<div id="portfolio" class="portfolio-nogutter">

						<div class="row mix-grid">

							<div class="col-md-3 col-sm-3 mix commercial"><!-- Hitachi Elevator -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/images/_smarty/RocketElevatorImage/Hitachi elevator.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

												<!-- details
												<a class="ico-rounded lightbox" href="ajax/portfolio-detail-modal-6.html" data-plugin-options='{"type":"ajax", "closeOnBgClick":false}'>
													<span class="glyphicon glyphicon-option-horizontal fs-20"></span>
												</a>-->

											</span>
										</span>

										<img class="img-fluid portfolioImgSize" src="assets/images/_smarty/RocketElevatorImage/Hitachi elevator.jpg" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Hitachi Elevator in Phillipines</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Commercial</a></li>
											<li><a href="#">1M $</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /Hitachi Elevator -->


							<div class="col-md-3 col-sm-3 mix commercial"><!-- Dunbar library elevator replacement -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/images/_smarty/RocketElevatorImage/dunbarLibrary.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

											</span>
										</span>

										<img class="img-fluid portfolioImgSize" src="assets/images/_smarty/RocketElevatorImage/dunbarLibrary.jpg" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Dunbar library elevator replacement</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Commercial</a></li>
											<li><a href="#">20000$</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /Dunbar library elevator replacement -->


							<div class="col-md-3 col-sm-3 mix residential"><!-- Home elevator -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/images/_smarty/RocketElevatorImage/HomeElevator.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
												
											</span>
										</span>

										<img class="img-fluid portfolioImgSize" src="assets/images/_smarty/RocketElevatorImage/HomeElevator.jpg" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Home Elevator</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Residential</a></li>
											<li><a href="#">1000$</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /Home elevator -->


							<div class="col-md-3 col-sm-3 mix commercial"><!-- Elevator Modernization -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/images/_smarty/RocketElevatorImage/ElevatorModernization.png" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
												
											</span>
										</span>

										<img class="img-fluid portfolioImgSize" src="assets/images/_smarty/RocketElevatorImage/ElevatorModernization.png" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Elevator modernization in Portland City</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Commercial</a></li>
											<li><a href="#">15000$</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /Elevator Modernization -->


							<div class="col-md-3 col-sm-3 mix award"><!-- EY award -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/images/_smarty/RocketElevatorImage/EYAward.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

											</span>
										</span>

										<img class="img-fluid portfolioImgSize" src="assets/images/_smarty/RocketElevatorImage/EYAward.jpg" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>EY SA World entrepreneur award</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Award</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /EY award -->


							<div class="col-md-3 col-sm-3 mix commercial"><!-- church elevator -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/images/_smarty/RocketElevatorImage/churchElevator.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
												
											</span>
										</span>

										<img class="img-fluid portfolioImgSize" src="assets/images/_smarty/RocketElevatorImage/churchElevator.jpg" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Saint-Joseph church</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Corporate building</a></li>
											<li><a href="#">100000$</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /church elevator -->


							<div class="col-md-3 col-sm-3 mix award"><!-- elevatorAward -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/images/_smarty/RocketElevatorImage/elevatorAward.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
												
											</span>
										</span>

										<img class="img-fluid portfolioImgSize" src="assets/images/_smarty/RocketElevatorImage/elevatorAward.jpg" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>2017 elevator project of the year</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Award</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /elevatorAward -->


							<div class="col-md-3 col-sm-3 mix residential"><!-- home elevator 2 -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/images/_smarty/RocketElevatorImage/homeElevator2.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
												
											</span>
										</span>

										<img class="img-fluid portfolioImgSize" src="assets/images/_smarty/RocketElevatorImage/homeElevator2.jpg" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Home elevator</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Residential</a></li>
											<li><a href="#">2000$</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /home elevator 2 -->


							<div class="col-md-3 col-sm-3 mix commercial"><!-- bailong elevator -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/images/_smarty/RocketElevatorImage/Bailong-Elevator-China-1.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
												
											</span>
										</span>

										<img class="img-fluid portfolioImgSize" src="assets/images/_smarty/RocketElevatorImage/Bailong-Elevator-China-1.jpg" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Bailong China elevator</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Residential</a></li>
											<li><a href="#">2M$</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /bailong elevator -->

							<div class="col-md-3 col-sm-3 mix residential"><!-- home elevator 3-->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/images/_smarty/RocketElevatorImage/homeElevator3.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
												
											</span>
										</span>

										<img class="img-fluid portfolioImgSize" src="assets/images/_smarty/RocketElevatorImage/homeElevator3.jpg" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Home elevator</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Residential</a></li>
											<li><a href="#">1500$</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /home elevator 3-->

							<div class="col-md-3 col-sm-3 mix commercial"><!-- vintage -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/images/_smarty/RocketElevatorImage/vintageElevator.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
												
											</span>
										</span>

										<img class="img-fluid portfolioImgSize" src="assets/images/_smarty/RocketElevatorImage/vintageElevator.jpg" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Vintage elevator</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Residential</a></li>
											<li><a href="#">12000$</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /vintage -->

							<div class="col-md-3 col-sm-3 mix commercial"><!-- hydraulic -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/images/_smarty/RocketElevatorImage/hydraulic-elevators.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
												
											</span>
										</span>

										<img class="img-fluid portfolioImgSize" src="assets/images/_smarty/RocketElevatorImage/hydraulic-elevators.jpg" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Hydraulic elevator</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Residential</a></li>
											<li><a href="#">100000$</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /hydraulic -->

						</div>


				</div>
			</section>
			<!-- /PORTFOLIO -->




			<!-- Testimonials -->
			<section class="section-xs dark">
				<div class="container">

					<div class="owl-carousel text-center owl-testimonial m-0" data-plugin-options='{"singleItem": true, "autoPlay": 3500, "navigation": false, "pagination": true, "transitionStyle":"fade"}'>
						<div class="testimonial">
							<figure>
								<img class="rounded" src="assets/images/RocketElevatorimage/Mathieu.png" alt="" />
							</figure>
							<div class="testimonial-content p-0">
								<p class="lead">We are proud to introduce the new Rocket CEO. We wish him success in his new challenge.</p>
								<cite>
									Mathieu R. Lortie
									<span>Employee CEO.</span>
								</cite>
							</div>
						</div>
						<div class="testimonial">
							<figure>
								<img class="rounded" src="assets/images/_smarty/RocketElevatorImage/myface 2.jpg" alt="" />
							</figure>
							<div class="testimonial-content p-0">
								<p class="lead">
									He is the best of the best, we introduce you to our best employee of the month.</p>
								<cite>
									Jeremie Veilleux
									<span>Employee model.</span>
								</cite>
							</div>
						</div>
					</div>

				</div>
			</section>
			<!-- /Testimonials -->





			<!-- News -->
			<section id="news">
				<div class="container">

					<div class="heading-title heading-dotted text-center">
						<h2>Recent News</h2>
					</div>

					<!-- 
						controlls-over		= navigation buttons over the image 
						buttons-autohide 	= navigation buttons visible on mouse hover only
						
						data-plugin-options:
							"singleItem": true
							"autoPlay": true (or ms. eg: 4000)
							"navigation": true
							"pagination": true
							"items": "4"

						owl-carousel item paddings
							.owl-padding-0
							.owl-padding-3
							.owl-padding-6
							.owl-padding-10
							.owl-padding-15
							.owl-padding-20
					-->
					<div class="owl-carousel owl-padding-10 buttons-autohide controlls-over" data-plugin-options='{"singleItem": false, "items":"4", "autoPlay": 4000, "navigation": true, "pagination": false}'>
						<div class="img-hover">
							<a href="https://finance.yahoo.com/news/africa-elevators-escalators-market-report-151500528.html" target="_blank">
								<img class="img-fluid newsImgSize" src="assets/images/_smarty/RocketElevatorImage/7.jpg" alt="">
							</a>

							<h4 class="text-left mt-20"><a href="https://finance.yahoo.com/news/africa-elevators-escalators-market-report-151500528.html">Africa Elevators and Escalators Market Report 2019</a></h4>
							<p class="text-left">Africa Elevators and Escalators Market is projected to grow at a CAGR of 6.0% during 2019-25. </p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									04th Sept 2017
								</li>
								<li>
									<a href="https://finance.yahoo.com/news/africa-elevators-escalators-market-report-151500528.html#comments" target="_blank">
										<i class="fa fa-comments"></i> 
										3
									</a>
								</li>
							</ul>
						</div>
						<div class="img-hover">
							<a href="https://ny.curbed.com/2019/9/4/20849423/nycha-elevators-public-housing-city-council" target="_blank">
								<img class="img-fluid newsImgSize" src="assets/images/_smarty/RocketElevatorImage/920x920.jpg" alt="">
							</a>

							<h4 class="text-left mt-20"><a href="https://ny.curbed.com/2019/9/4/20849423/nycha-elevators-public-housing-city-council" target="_blank">NYCHA fighting a ‘losing battle’ against elevator upkeep</a></h4>
							<p class="text-left">At a tense Wednesday hearing, members of the City Council gave New York City Housing Authority officials a tongue lashing over the agency’s struggle to maintain public housing’s ailing elevators.</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									04th Sept 2019
								</li>
								<li>
									<a href="https://ny.curbed.com/2019/9/4/20849423/nycha-elevators-public-housing-city-council" target="_blank">
										<i class="fa fa-comments"></i> 
										1
									</a>
								</li>
							</ul>
						</div>
						<div class="img-hover">
							<a href="https://newyork.cbslocal.com/2019/09/04/sam-waisbren-elevator-accident-victim-basketball-program/" target="_blank">
								<img class="img-fluid newsImgSize" src="assets/images/_smarty/RocketElevatorImage/Mn-elevator-malfunction.jpg" alt="">
							</a>

							<h4 class="text-left mt-20"><a href="https://newyork.cbslocal.com/2019/09/04/sam-waisbren-elevator-accident-victim-basketball-program/" target="_blank">Family Of Man Killed In Elevator Malfunction Raises Money For Basketball Program In His Memory</a></h4>
							<p class="text-left">Sam Waisbren was crushed to death nearly two weeks ago when an elevator malfunctioned at his Kips Bay apartment building.</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									04th Sept 2019
								</li>
								<li>
									<a href="https://newyork.cbslocal.com/2019/09/04/sam-waisbren-elevator-accident-victim-basketball-program/" target="_blank">
										<i class="fa fa-comments"></i> 
										4
									</a>
								</li>
							</ul>
						</div>
						<div class="img-hover">
							<a href="https://www.barrons.com/articles/otis-elevator-stock-united-technologies-split-51567546279" target="_blank">
								<img class="img-fluid newsImgSize" src="assets/images/_smarty/RocketElevatorImage/im-103444.jpg" alt="">
							</a>

							<h4 class="text-left mt-20"><a href="https://www.barrons.com/articles/otis-elevator-stock-united-technologies-split-51567546279" target="_blank">The United Technologies Split Could Make a Winner Out of Otis Elevator Stock</a></h4>
							<p class="text-left">Some Wall Street analysts see value in the three companies that will emerge after the epic transformation of United Technologies...</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									04th Sept 2019
								</li>
								<li>
									<a href="https://www.barrons.com/articles/otis-elevator-stock-united-technologies-split-51567546279" target="_blank">
										<i class="fa fa-comments"></i> 
										3
									</a>
								</li>
							</ul>
						</div>
						<div class="img-hover">
							<a href="https://www.bloomberg.com/news/articles/2019-09-04/thyssenkrupp-tells-potential-buyers-it-s-open-to-elevator-sale" target="_blank">
								<img class="img-fluid newsImgSize" src="assets/images/_smarty/RocketElevatorImage/1800x-1.jpg" alt="">
							</a>
							<h4 class="text-left mt-20"><a href="https://www.bloomberg.com/news/articles/2019-09-04/thyssenkrupp-tells-potential-buyers-it-s-open-to-elevator-sale" target="_blank">Thyssenkrupp Open to Range of Offers for Elevator Business</a></h4>
							<p class="text-left">Thyssenkrupp AG informed potential buyers of its elevator business that the crisis-hit firm will consider a...</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									04 Sept 2019
								</li>
								<li>
									<a href="https://www.bloomberg.com/news/articles/2019-09-04/thyssenkrupp-tells-potential-buyers-it-s-open-to-elevator-sale" target="_blank">
										<i class="fa fa-comments"></i> 
										1
									</a>
								</li>
							</ul>
						</div>
						<div class="img-hover">
							<a href="https://www.wbtv.com/2019/09/05/special-elevators-rescue-people-bank-america-tower-during-emergencies-are-first-east-coast/" target="_blank">
								<img class="img-fluid newsImgSize" src="assets/images/_smarty/RocketElevatorImage/JXKN5ROLKJFU5JTXYDDS7HTFUY.jpg" alt="">
							</a>
							<h4 class="text-left mt-20"><a href="https://www.wbtv.com/2019/09/05/special-elevators-rescue-people-bank-america-tower-during-emergencies-are-first-east-coast/" target="_blank">Special elevators to rescue people in BofA Tower during emergencies are first on the east coast</a></h4>
							<p class="text-left">CHARLOTTE, N.C. (WBTV) - Special elevators designed to help out in an emergency are now located at the new Bank of America Tower in uptown Charlotte.</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									05 Sept 2019
								</li>
								<li>
									<a href="https://www.wbtv.com/2019/09/05/special-elevators-rescue-people-bank-america-tower-during-emergencies-are-first-east-coast/" target="_blank">
										<i class="fa fa-comments"></i> 
										1
									</a>
								</li>
							</ul>
						</div>
					</div>

				</div>
			</section>
			<!-- /News -->





			<!-- Clients -->
			<section id="clients" class="alternate">
				<div class="container">

					<div class="heading-title heading-dotted text-center">
						<h2>Our Clients</h2>
					</div>

					<ul class="row clients-dotted list-inline">
						<li class="col-md-3 col-sm-3 col-6">
							<a target=_blank href="https://www.google.ca/search?sxsrf=ACYBGNSUwr7IuLPSyaCe0Yqz6QYVAcTltA%3A1567794514659&source=hp&ei=UqVyXbLdJY3s5gKqsryYCw&q=Desjardins&oq=Desjardins&gs_l=psy-ab.3..0i203l2j0i20i263j0i203j0i131j0i203l5.3747.7588..8274...0.0..0.223.1235.8j1j2......0....1..gws-wiz.....10..35i362i39j35i39j0i67j0j0i131i67.zNE5C9BCOL0&ved=0ahUKEwiyzv_Y6bzkAhUNtlkKHSoZD7MQ4dUDCAU&uact=5">
								<img class="img-fluid clientLogoSize" src="assets/images/_smarty/RocketElevatorImage/Desjardins.jpg" alt="client"/>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a target=_blank href="https://www.google.ca/search?sxsrf=ACYBGNRqXyGmM15VxVte_azVHz_yzDanDA%3A1567794523578&ei=W6VyXa3aIqrt5gLg_7nADA&q=aircanada&oq=airca&gs_l=psy-ab.1.0.0i203l5j0i10i203j0i203l4.279778.281442..282710...0.3..0.382.1079.2j0j2j1......0....1..gws-wiz.......0i71j35i39j0i131i67j0i131j0j0i67j0i10.yccLSnnz6jQ">
								<img class="img-fluid clientLogoSize" src="assets/images/_smarty/RocketElevatorImage/Air-Canada-logo-copy3.jpg" alt="client" />
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a target=_blank href="https://www.google.ca/search?sxsrf=ACYBGNSYQ02YEv-gjBYBKaqGRoUfQNjzVw%3A1567794807899&ei=d6ZyXcPENrHs5gLc7ZOgBQ&q=boeing&oq=boeing&gs_l=psy-ab.3..0i203l2j0i131i67j0i67l3j0i203l3j0i67.27939.30348..31448...0.3..0.221.1057.0j4j2......0....1..gws-wiz.......0i71j35i39j0i131j0.dZbFnuL3kgI&ved=0ahUKEwiD3Ovk6rzkAhUxtlkKHdz2BFQQ4dUDCAs&uact=5">
								<img class="img-fluid clientLogoSize" src="assets/images/_smarty/RocketElevatorImage/Boeing_logo.svg.png" alt="client" />
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a target=_blank href="https://www.google.ca/search?sxsrf=ACYBGNQyzegpDD4WDZtZk_S5GrVY-Txuww%3A1567794840720&ei=mKZyXeDFK8fc5gKAvpqwCQ&q=ferrari&oq=ferr&gs_l=psy-ab.1.0.0i67j0i131i67l2j0l7.27662.28228..30566...0.3..0.182.479.1j3......0....1..gws-wiz.......0i71j35i39j0i131.0dPhPRVFcnM">
								<img class="img-fluid clientLogoSize" src="assets/images/_smarty/RocketElevatorImage/Le-logo-Ferrari.png" alt="client" />
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a target=_blank href="https://www.google.ca/search?sxsrf=ACYBGNQinNI0JYCMZZsSbyWOS3wp1Du5rw%3A1567794872827&ei=uKZyXbGJMsLy5gK3tJPYAw&q=code&oq=code&gs_l=psy-ab.3..35i39j35i39i19j0i67l4j0j0i131j0j0i131.84296.84871..86550...0.3..0.116.383.3j1......0....1..gws-wiz.......0i71.ZDMVfltH5Ws&ved=0ahUKEwixxeaD67zkAhVCuVkKHTfaBDsQ4dUDCAs&uact=5">
								<img class="img-fluid clientLogoSize" src="assets/images/_smarty/RocketElevatorImage/code-Logo-vertical_web_RGB-1.jpg" alt="client"/>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a target=_blank href="https://www.google.ca/search?sxsrf=ACYBGNTNo_cUgttUIlXktd5UFjGMDqUNyA%3A1567794961164&ei=EadyXbnMCaH45gKqlYPgDQ&q=total&oq=total&gs_l=psy-ab.3..0i67l2j0i203l6j0j0i203.27923.28964..29740...0.3..0.268.1038.0j3j2......0....1..gws-wiz.......0i71j35i39j0i131.xJPwVKfkJRw&ved=0ahUKEwj5mPat67zkAhUhvFkKHarKANwQ4dUDCAs&uact=5">
								<img class="img-fluid clientLogoSize" src="assets/images/_smarty/RocketElevatorImage/2501px-TOTAL_SA_logo.svg.png" alt="client" />
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a target=_blank href="https://www.google.ca/search?sxsrf=ACYBGNQRQveQLCZdU0I1udwqu0tl1t_iLA%3A1567794992162&ei=MKdyXY69CePO5gKvwrK4Dw&q=trump+tower&oq=trump+tower&gs_l=psy-ab.3..0i131j0i203l9.18670.21691..22571...0.3..0.290.2317.1j3j7......0....1..gws-wiz.......0i71j35i39j0i67j0i131i67j0.cgy6DLRonIY&ved=0ahUKEwiOldq867zkAhVjp1kKHS-hDPcQ4dUDCAs&uact=5">
								<img class="img-fluid clientLogoSize" src="assets/images/_smarty/RocketElevatorImage/web1_trumos.jpg" alt="client" />
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a target=_blank href="https://www.google.ca/search?sxsrf=ACYBGNSErDe3JMpukguBW39zsmvBXREd_Q%3A1567795016332&ei=SKdyXef2E9Kt5wLkmZyAAw&q=ikea&oq=ikea&gs_l=psy-ab.3..35i39j0i67l2j0l7.26823.28956..29706...1.3..3.256.1596.3j3j4......0....1..gws-wiz.....10..0i71j0i203j35i362i39j0i131i67j0i131.Tnrf9trhkFo&ved=0ahUKEwjnup3I67zkAhXS1lkKHeQMBzAQ4dUDCAs&uact=5">
								<img class="img-fluid clientLogoSize" src="assets/images/_smarty/RocketElevatorImage/ikea-logo-new-hero-1-852x479.jpg" alt="client" />
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a target=_blank href="https://www.google.ca/search?sxsrf=ACYBGNRZwLHbRwK3P6vR9Tia6sIDL3L9Lw%3A1567795048152&ei=aKdyXd71CMmK5wLSr42YBw&q=adidas&oq=adidas&gs_l=psy-ab.3..0i67j0i131i67j0i67l2j0i203j0i67l3j0i203j0i67.27793.29042..30121...0.3..0.269.1194.0j3j3......0....1..gws-wiz.......0i71j35i39j0i131.vtuTZN2fljw&ved=0ahUKEwjeybPX67zkAhVJxVkKHdJXA3MQ4dUDCAs&uact=5">
								<img class="img-fluid clientLogoSize" src="assets/images/_smarty/RocketElevatorImage/adidaslogo.jpg" alt="client" />
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a target=_blank href="https://www.google.ca/search?sxsrf=ACYBGNTARKdbqfzFutyI6_5kvV5i65sErQ%3A1567795114475&ei=qqdyXYncHKSd5wLGtIiQCw&q=complexe+vision&oq=complexe+vision&gs_l=psy-ab.3..0i203j0l6.8793.13604..14143...1.2..2.264.3807.10j16j3......0....1..gws-wiz.....10..0i71j35i39j0i22i30j35i362i39j0i67j0i131j0i20i263j35i39i19.v19n8MuWCh0&ved=0ahUKEwiJ2YP367zkAhWkzlkKHUYaArIQ4dUDCAs&uact=5">
								<img class="img-fluid clientLogoSize" src="assets/images/_smarty/RocketElevatorImage/logos.png" alt="client" />
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a target=_blank href="https://www.google.ca/search?sxsrf=ACYBGNQGsM-1KKkctMtMypoovWU4pH9V9g%3A1567795129876&ei=uadyXaSDNcyr5wLKiLOIAw&q=vaio&oq=vaio&gs_l=psy-ab.3..0i67j0l9.19652.22088..22818...1.2..3.430.2214.10j6j1j0j1......0....1..gws-wiz.....10..0i71j35i39j35i362i39j0i131j0i20i263j0i3.B_Gy7PDazQg&ved=0ahUKEwjkw6_-67zkAhXM1VkKHUrEDDEQ4dUDCAs&uact=5">
								<img class="img-fluid clientLogoSize" src="assets/images/_smarty/RocketElevatorImage/vaioLogo.jpg" alt="client" />
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a target=_blank href="https://www.google.ca/search?sxsrf=ACYBGNRfB828n4yB6xsdJx6jo5UUo8DBqQ%3A1567795154289&ei=0qdyXZGXEYab5gL13IrACQ&q=playstation&oq=playsta&gs_l=psy-ab.1.2.0i203j0i67j0i203l2j0i131i67j0i203l5.17965.19262..20841...0.3..0.233.1430.0j3j4......0....1..gws-wiz.......0i71j35i39j0i131j0j0i10i203.zcqowRQE_bw">
								<img class="img-fluid clientLogoSize" src="assets/images/_smarty/RocketElevatorImage/PlaystationLogo.png" alt="client" />
							</a>
						</li>
					</ul>

				</div>
			</section>
			<!-- /Clients -->




			<!-- CONTACT -->
			<section id="contact">
				<div class="container">

					<header class="text-center mb-60">
						<h2>Contact Us</h2>
						<p class="lead font-lato">For more information, please contact Rocket Elevators today.</p>
						<hr />
					</header>


					<div class="row">

						<!-- FORM -->
						<div class="col-md-8 col-sm-8">

							<h3>Drop us a line or just say <strong><em>Hello!</em></strong></h3>

							
							<!--
								MESSAGES
								
									How it works?
									The form data is posted to php/contact.php where the fields are verified!
									php.contact.php will redirect back here and will add a hash to the end of the URL:
										#alert_success 		= email sent
										#alert_failed		= email not sent - internal server error (404 error or SMTP problem)
										#alert_mandatory	= email not sent - required fields empty
										Hashes are handled by assets/js/contact.js

									Form data: required to be an array. Example:
										contact[email][required]  WHERE: [email] = field name, [required] = only if this field is required (PHP will check this)
										Also, add `required` to input fields if is a mandatory field. 
										Example: <input required type="email" value="" class="form-control" name="contact[email][required]">

									PLEASE NOTE: IF YOU WANT TO ADD OR REMOVE FIELDS (EXCEPT CAPTCHA), JUST EDIT THE HTML CODE, NO NEED TO EDIT php/contact.php or javascript
												 ALL FIELDS ARE DETECTED DINAMICALY BY THE PHP

									WARNING! Do not change the `email` and `name`!
												contact[name][required] 	- should stay as it is because PHP is using it for AddReplyTo (phpmailer)
												contact[email][required] 	- should stay as it is because PHP is using it for AddReplyTo (phpmailer)
							-->

							<!-- Alert Success -->
							<div id="alert_success" class="alert alert-success mb-30">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>Thank You!</strong> Your message successfully sent!
							</div><!-- /Alert Success -->


							<!-- Alert Failed -->
							<div id="alert_failed" class="alert alert-danger mb-30">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>[SMTP] Error!</strong> Internal server error!
							</div><!-- /Alert Failed -->


							<!-- Alert Mandatory -->
							<div id="alert_mandatory" class="alert alert-danger mb-30">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>Sorry!</strong> You need to complete all mandatory (*) fields!
							</div><!-- /Alert Mandatory -->


							<form action="/leads" method="post" enctype="multipart/form-data">
								<fieldset>
									<input type="hidden" name="action" value="contact_send" />

									<div class="row">
											<div class="col-md-6">
												<label for="contact:name">Full Name *</label>
												<input required type="text" value="" class="form-control" name="Name" id="contact:name">
											</div>
											<div class="col-md-6">
													<label for="contact:name">Company *</label>
													<input required type="text" value="" class="form-control" name="Company" id="contact:name">
												</div>
											<div class="col-md-6">
												<label for="contact:email">E-mail Address *</label>
												<input required type="email" value="" class="form-control" name="Email" id="contact:email">
											</div>
											<div class="col-md-6">
												<label for="contact:phone">Phone</label>
												<input type="text" value="" class="form-control" name="Phone" id="contact:phone">
											</div>
									</div>
									<div class="row">
											<div class="col-md-8">
												<label for="contact:subject">Project Name *</label>
												<input required type="text" value="" class="form-control" name="ProjectName" id="contact:subject">
											</div>
											<div class="col-md-4">
												<label for="contact_department">Department in Charge</label>
												<select class="form-control pointer" name="DepartmentInCharge">
													<option value="">--- Select ---</option>
													<option value="Marketing">Technical</option>
													<option value="Webdesign">Finance</option>
													<option value="Architecture">Planning/Design</option>
												</select>
											</div>
									</div>
									<div class="row">
											<div class="col-md-12">
												<label for="contact:message">Tell us more about your project *</label>
												<textarea required maxlength="10000" rows="3" class="form-control" name="ProjectDescription" id="contact:message"></textarea>
											</div>
											<div class="col-md-12">
													<label for="contact:message">Message *</label>
													<textarea required maxlength="10000" rows="4" class="form-control" name="Message" id="contact:message"></textarea>
												</div>
									</div>
									<div class="row">
											<div class="col-md-12">
												<label for="contact:attachment">File Attachment</label>

												<!-- custom file upload -->
												<input class="custom-file-upload" type="file" id="file" name="Attachment" id="contact:attachment" data-btn-text="Select a File" />
												<small class="text-muted block">Max file size: 10Mb (zip/pdf/jpg/png)</small>

											</div>
									</div>

								</fieldset>
								
								<div class="row">
								
									<div class="col-md-12">
									
										<button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> SEND MESSAGE</button>
										<div style='margin-top:20px'>
                                			<%= recaptcha_tags %>
                            			</div>
                           
									</div>
								</div>
							</form>

						</div>
						<!-- /FORM -->


						<!-- INFO -->
						<div class="col-md-4 col-sm-4">

							<h2>Visit Us</h2>

							<!-- 
							Available heights
								h-100
								h-150
								h-200
								h-250
								h-300
								h-350
								h-400
								h-450
								h-500
								h-550
								h-600
							-->
							<div id="map2" class="h-400 grayscale"></div>

							<hr />

							<p>
								<span class="block"><strong><i class="fa fa-map-marker"></i> Address:</strong> <a  href="https://www.google.com/maps/place/725+Boulevard+Lebourgneuf,+Qu%C3%A9bec,+QC+G2J+1S1/@46.8428399,-71.2818835,17z/data=!3m1!4b1!4m5!3m4!1s0x4cb897ddc2cec043:0xd450d4d0da014cc8!8m2!3d46.8428399!4d-71.2796948" target=_blank>725 Boulevard Lebourgneuf, Québec, Canada, QC G2J0C4</a></span>
								<span class="block"><strong><i class="fa fa-phone"></i> Phone:</strong> <a href="tel:1581-701-0303">1 (581) 701-0303</a></span>
								<span class="block"><strong><i class="fa fa-envelope"></i> Email:</strong> <a href="mailto:info@codeboxx.biz">info@codeboxx.biz</a></span>
							</p>

						</div>
						<!-- /INFO -->

					</div>

				</div>
			</section>
			<!-- /CONTACT -->






		<!-- JAVASCRIPT FILES -->
		<script>var plugin_path = 'assets/plugins/';</script>
		<script src="assets/plugins/jquery/jquery-3.3.1.min.js"></script>

		<script src="assets/js/scripts.js"></script>

		<!-- REVOLUTION SLIDER -->
		<script src="assets/plugins/slider.revolution/js/jquery.themepunch.tools.min.js"></script>
		<script src="assets/plugins/slider.revolution/js/jquery.themepunch.revolution.min.js"></script>
		<script src="assets/js/view/demo.revolution_slider.js"></script>

		<!-- PAGELEVEL SCRIPTS -->
		<script src="assets/js/contact.js"></script>

		