<head>
<meta charset="utf-8" />
<title>Quote form</title>
<meta name="description" content="" />
<meta name="Author" content="Dorin Grigoras [www.stepofweb.com]" />

<!-- mobile settings -->
<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

<!-- WEB FONTS : use %7C instead of | (pipe) -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />

<!-- CORE CSS -->
<link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

<!-- REVOLUTION SLIDER -->
<link href="assets/plugins/slider.revolution/css/extralayers.css" rel="stylesheet" type="text/css" />
<link href="assets/plugins/slider.revolution/css/settings.css" rel="stylesheet" type="text/css" />

<!-- THEME CSS -->
<link href="assets/css/essentials.css" rel="stylesheet" type="text/css" />
<link href="assets/css/layout.css" rel="stylesheet" type="text/css" />

<!-- PAGE LEVEL SCRIPTS -->
<link href="assets/css/header-1.css" rel="stylesheet" type="text/css" />
<link href="assets/css/color_scheme/blue.css" rel="stylesheet" type="text/css" id="color_scheme" />

<!--TO A NEW CSS-->
<link href="assets\css\misaCSS.css" rel="stylesheet" type="text/css" />

<!-- FOR FAVICON -->
<link rel="icon" type="image/png" sizes="16x16" href="assets/images/_smarty/RocketElevatorImage/faviconRocket.png">
</head>




        <section class="page-header quoteHeaderColor">
                <div class="container">

                    <h1 class= "titleStyle">Terms and coditions</h1>

                    <!-- breadcrumbs -->
                    <ol class="breadcrumb">
                        <li><a href="/" style="color:white">Home</a></li>
                        <li class="active">Rocket</li>
                    </ol><!-- /breadcrumbs -->

                </div>
        </section>
            <!-- /PAGE HEADER -->






<div style= "font-size : 15px; 
    padding-top: 10px; 
    padding-bottom: 100px; 
    margin-top: 50px; 
    margin-botton: 50px;
    margin-left: 50px;
    margin-right: 50px;">
    <h3>Terms & Conditions</h3>
    <h4>Agreement between User and Rocket Elevator LTD</h4>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This website (the “Site”) is provided by Rocket Elevator LTD, (hereinafter, “Rocket Elevator LTD”, “we”, “us”, or “our”) and is subject to these terms, conditions and notices and all modifications thereto (the “Terms and Conditions”). “You” and “your” refer to each company, supplier, or individual that uses this Site. The following Terms and Conditions constitute a legal agreement.</br>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;By accessing or using this Site, you agree to all terms of use, conditions, and notices contained or referenced in these Terms and Conditions. You further agree to comply with all procedures, rules and policies established by us, and all applicable federal, state, and local laws and regulations, including without limitation, the Communications Decency Act (47 U.S.C. § 223 et. seq.) and the Digital Millennium Copyright Act (17 U.S.C. § 101 et. seq.). If you do not agree to these terms, you may not use this Site.</br>
                
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Unless otherwise indicated, use of this Site is for your personal and noncommercial use. You may not modify, copy, distribute, transmit, display, perform, reproduce, publish, license, create derivative works from, transfer, or sell any information, software, products or services obtained from the Site. You may display and electronically copy, download and print hard copies of portions of the material from the Site solely for your own noncommercial use. You agree that you do not acquire any ownership rights in any such materials as a result of downloading such materials from the Site. Any other use of materials on this Site, including but not limited to the modification, reproduction, distribution, republication, display or transmission of the content on this Site, without prior written permission of Rocket Elevator LTD is strictly prohibited.</br>
                
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We may prohibit or enjoin any conduct or use of the Site that restricts or prevents other users from using the Site, and we have the right to deny access to anyone that we deem unfit to use the Site for any reason or no reason. Notwithstanding the above, we have no obligation to monitor the use of the Site, but we reserve the right to do so.</br>
        </br></br>            
    <h4>Modifications</h4>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;These Terms and Conditions, as well as all content on the Site, are subject to change without notice. Furthermore, Rocket Elevator LTD may discontinue or modify any aspect of the Site without notice or liability.</br>
    </br></br>
    <h4>Copyrights and Trademarks</h4>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The entire content of the Site, including but not limited to text, design, graphics, interfaces, code and the selection and arrangement thereof is the sole and exclusive property of Rocket Elevator LTD. Copyright . All rights reserved.</br>
                
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;All trademarks, service marks and trade names used in this Site are the property of Rocket Elevator LTD, or its affiliates or are used herein by permission of the owner.</br>
                
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nothing within these Terms and Conditions and this Site shall be construed as conferring any rights or licenses to any of our or any third party intellectual property rights, whether by estoppel, implication, waiver, or otherwise.</br>
    </br></br>    
    <h4>Disclaimer</h4>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This Site and all information, products and services included herein, including without limitation, text, graphics and links, are provided “as is” and without warranties of any kind, whether express or implied, including but not limited to, implied warranties of merchantability and fitness for a particular purpose, non-infringement, freedom from computer virus, and warranties arising from course of dealing or course of performance. Rocket Elevator LTD does not represent or warrant that the Site will be uninterrupted or error-free, that defects will be corrected, and makes no representation or warranty as to the accuracy, adequacy, usefulness, timeliness, or reliability of information contained in the Site.</br>
    </br></br>
    <h4>Limitation of Liability</h4>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Your use of this Site is at your own risk. Rocket Elevator LTD shall not be liable for any damages, including but not limited to direct, indirect, special, punitive, incidental, exemplary or consequential, arising out of or in connection with the use, inability to use, or performance of this Site regardless of whether Rocket Elevator LTD has been advised, knew, or should have known of the possibility of such damages. If you are dissatisfied with any materials or information provided on this Site, your sole and exclusive remedy is to discontinue using the Site.</br>
</div>


















        
        <script src="assets/plugins/jquery/jquery-3.3.1.min.js"></script>
        <script src="assets\js\form.js"></script>

        <!-- JAVASCRIPT FILES -->
		<script>var plugin_path = 'assets/plugins/';</script>
		<script src="assets/plugins/jquery/jquery-3.3.1.min.js"></script>

		<script src="assets/js/scripts.js"></script>
		

		<!-- REVOLUTION SLIDER -->
		<script src="assets/plugins/slider.revolution/js/jquery.themepunch.tools.min.js"></script>
		<script src="assets/plugins/slider.revolution/js/jquery.themepunch.revolution.min.js"></script>
		<script src="assets/js/view/demo.revolution_slider.js"></script>

		<!-- PAGELEVEL SCRIPTS -->
		<script src="assets/js/contact.js"></script>

